<div class="container">

    <span class="lead">Guest Book</span>
        <div class="panel panel-default">
            <div class="panel-body">
            </div>
        </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Address 1</th>
                        <th>Address 2</th>
                        <th>City</th>
                        <th>State</th>
                        <th>Zip Code</th>
                        <th>Email Address</th>
                        <th>Bungalow</th>
                        <th>Delete</th>
                        <th>Update</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="guest in guests">
                        <td>{{guest.firstName}}</td>
                        <td>{{guest.lastName}}</td>
                        <td>{{guest.address1}}</td>
                        <td>{{guest.address2}}</td>
                        <td>{{guest.city}}</td>
                        <td>{{guest.state}}</td>
                        <td>{{guest.zip}}</td>
                        <td>{{guest.email}}</td>
                        <td>{{guest.bungalowNum}}</td>
                        <td><button type="button" ng-click="deleteGuest(guest.id)"
                                class="btn btn-danger custom-width">
                                <span class="glyphicon glyphicon-remove"></span>Delete</button></td>
                        <td><button type="button" ng-click="updateGuest(guest.id)"
                                class="btn btn-info custom-width">
                                <span class="glyphicon glyphicon-edit"></span>Update</button></td>
                    </tr>
                </tbody>
            </table>
            
        </div>
    </div>
</div>