<div class="container">
<div class="alert alert-danger" role="alert" ng-if="errorMessage">{{errorMessage}}</div>
<span class="lead">Update Guest</span>
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="container">
                <form class="form-horizontal" name="guestUpdateForm" ng-submit="submitGuestForm()">
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="firstName">First Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.firstName" id="firstName" class="form-control input-sm" placeholder="Enter guest's first name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="lastName">Last Name</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.lastName" id="lastName" class="form-control input-sm" placeholder="Enter guest's last name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="address1">Address 1</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.address1" id="address1" class="form-control input-sm" placeholder="Enter guest's address (first field)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="address2">Address 2</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.address2" id="address2" class="form-control input-sm" placeholder="Enter guest's address (second field)" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="city">City</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.city" id="city" class="form-control input-sm" placeholder="Enter guest's city" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                         <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="state">State</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.state" id="state" class="form-control input-sm" placeholder="Enter guest's state" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="zip">Zip</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.zip" id="zip" class="form-control input-sm" placeholder="Enter guest's zip" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="email">Email</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.email" id="email" class="form-control input-sm" placeholder="Enter guest's email" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-12">
                            <label class="col-md-2 control-label" for="bungalowNum">Assigned Bungalow</label>
                            <div class="col-md-7">
                                <input type="text" ng-model="guest.bungalowNum" id="bungalowNum" class="form-control input-sm" placeholder="Enter guest's bungalow" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-actions floatRight">
                            <input type="submit" value="Update Guest" class="btn btn-info btn-sm">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>